body {
  background-color: #EAF6F6;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  letter-spacing: 3px;
  color: #66BFBF;
}
h3 {
  color: #F76B8A;
}

img {
    border-radius: 100%;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
}
